<h3>Multi Slot Component</h3>

<p>The following element is defined by the outside usage:</p>

<ng-content select=".first"></ng-content>

<p>This is some text from multi slot, whereas the following is defined by outside usage</p>

<ng-content select=".second"></ng-content>

<p>This is some text from multi slot, whereas the following is defined by outside usage, but has a default value, if nothing is provided</p>

<div #third>
  <ng-content select=".third"></ng-content>
</div>
<span *ngIf="!third.children.length">This is the default value</span>

