:host {
  display: block;
}

:host(.ng-invalid) {
  circle {
    fill: red !important;
  }

  #minus-area, #plus-area {
    path {
      fill: red !important;
    }
  }
}

#minus-area, #plus-area {
  &:hover {
    path {
      fill: #800080 !important;
      fill-opacity: 0.5 !important;
    }

    &.mousedown {
      path {
        fill: #800080 !important;
        fill-opacity: 1 !important;
      }
    }
  }
}
